snippet i "Item" b
\item${1:[${2:description}]} ${2}
endsnippet

snippet figure "Figure" b
\begin{figure}[${1:htbp}]
	\centering
		${5:\includegraphics[${4:scale=${3:1}}]{${2:file}}}
	\caption{${6:caption}}
	\label{${8:fig:${7:label}}}
\end{figure}
endsnippet

snippet eql "Equation with label" b
\begin{equation}\label{${2:eq:${1:eq_label}}}
    ${3}
\end{equation}
endsnippet
