(
    selected_tab: Yellow,
    command_fg: Indexed(214),
    selection_bg: Indexed(24),
    cmdbar_extra_lines_bg: Indexed(25),
    disabled_fg: Indexed(66),
    diff_line_add: Indexed(186),
    diff_line_delete: Indexed(105),
    diff_file_added: LightYellow,
    diff_file_removed: LightRed,
    diff_file_moved: LightMagenta,
    diff_file_modified: Yellow,
    commit_hash: Magenta,
    commit_time: LightCyan,
    commit_author: Green,
    danger_fg: Indexed(196),
    push_gauge_bg: Blue,
    push_gauge_fg: Reset,
)
